# extend()

In [1]:
# l.extend(11)

order = ['chicken','fish','mutton']
order1 = ['tuborg', 'calsberg','arna']

order.extend(order1)
print(order)

['chicken', 'fish', 'mutton', 'tuborg', 'calsberg', 'arna']

In [6]:
# CASE 1:
l1 = [10,20,30]
l2 = [40,50]
l1.append(l2)    # add whole list as one list as nested list
print(l1)
print(l1[3])

[10, 20, 30, [40, 50]]
[40, 50]

In [7]:
l1 = [10,20,30]
l2 = [40,50]
l1.extend("ABC")    # add individual item inside the list
print(l1)

[10, 20, 30, 'A', 'B', 'C']

In [8]:
# Removing items from list
#       remove()
#       pop()
#       clear()

In [11]:
# remove()
l = [10,20,30,40,50,40,40,70,80,40,90]

x = int(input("Enter number to remove: "))

while True:
    if x in l:
        l.remove(x)
    else:
        break
print("afer removal",l)

Enter number to remove: 40
afer removal [10, 20, 30, 50, 70, 80, 90]

In [13]:
# pop()    remove last element in the list

l = [10,20,30]
print(l.pop())
print(l)

30
[10, 20]

In [15]:
l = [10,20,30]
print(l.pop(1)) # with argument takes indexing 
print(l)

20
[10, 30]

In [17]:
# clear()
l = [10,20,30]
l.clear()     # remove every items inside the lsit
print(l)

[]

In [18]:
"""
list 

add item to list
    append()
    insert()
    extend()

decrese size of list
    remove()
    pop()
    clear()

"""

'\nlist \n\nadd item to list\n    append()\n    insert()\n    extend()\n\ndecrese size of list\n    remove()\n    pop()\n    clear()\n\n'

# ordering elements of list

In [25]:
# reverse()
l = [10,40,30]
l.reverse()        # desending order of indexing 
print(l)           # it is python specific method(list only specific)

[30, 40, 10]

In [26]:
l = [10,20,30]
r = reversed(l)    # it is both list and python specific mehtod
print(r)

<list_reverseiterator object at 0x00000165DF824D00>

In [31]:
l = [10,20,30]
r = reversed(l)   
print(r)
l1 = list(r)
print(l1)

<list_reverseiterator object at 0x00000165DF824190>
[30, 20, 10]

In [33]:
l = 'Rakesh'
r = reversed(l)   
print(r)
l1 = list(r)    # give reverse iterator object
        # now convert it into list now
print(l1)

<reversed object at 0x00000165DFBFCEB0>
['h', 's', 'e', 'k', 'a', 'R']

In [44]:
l = 'Rakesh'
r = reversed(l)
# l1 = str(r)
print(l1)
print(type(l1))

{'k', 's', 'a', 'e', 'R', 'h'}
<class 'set'>

In [43]:
l = 'Rakesh'
l2 = reversed(l)

for i in l2:
    print(i)

h
s
e
k
a
R

In [40]:
l = 'Rakesh'
r = reversed(l)
l1 = set(r)    # set is unordered so value is random output
print(l1)
print(type(l1))

{'k', 's', 'a', 'e', 'R', 'h'}
<class 'set'>

In [45]:
# sort()
# l.sort()

l = [20,40,10,2,0,70]
l.sort()
print(l)

[0, 2, 10, 20, 40, 70]

In [46]:
l = ['Rakesh', 'tolangi', 'is', 'engineer']
l.sort()    # ASCII OR alphabeticall order
print(l)

['Rakesh', 'engineer', 'is', 'tolangi']

In [47]:
l = ['Rakesh', 'tolangi', 'is', 'engineer', 10]
l.sort()
print(l)

TypeError: '<' not supported between instances of 'int' and 'str'

In [52]:
l = [20,40,10,2,0,70]
l.sort()
l.reverse()
print(l)

[70, 40, 20, 10, 2, 0]

In [53]:
# sort()       # sort() is list specific
l = [20,40,10,2,0,70]
l.sort(reverse=True)
print(l)

[70, 40, 20, 10, 2, 0]

In [56]:
# shorted()    # it is python specific 

l0 = [20,40,10,2,0,70]
l="Rakesh"
l1 = sorted(l)
print(l1)
print(l[::-1])

['R', 'a', 'e', 'h', 'k', 's']
hsekaR

In [58]:
# aliasing and cloning of list

# aliasing = give another name
l1 = [20,40,10,2,0,70]
l2 = l1
print(l2)
l2[0] = 555
print(l1)
print(l2)

[20, 40, 10, 2, 0, 70]
[555, 40, 10, 2, 0, 70]
[555, 40, 10, 2, 0, 70]

In [61]:
# cloning of list
# The process of creating duplicate objects

l1 = [10,20,30,40,50]
l2 =l1[:]    # clone l1 to l2
print(l1)
print(l2)

l2[0] = 555   # now change o index in l2 only
print(l1)
print(l2)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[555, 20, 30, 40, 50]

In [62]:
# copy method
l1 = [10,20,30,40,50]
l2 = l1.copy()
print(l1)
print(l2)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]

In [67]:
# nested list
l = [10,20,30,40,[80,90]]
print(l[0])
print(l[4])
print(l[4][0])   # accessing nested list

10
[80, 90]
80

In [69]:
l= [[10,20,30],[40,50,60],[70,80,90]]
print("Elements in martix style")
for x in l:
    print(x)

Elements in martix style
[10, 20, 30]
[40, 50, 60]
[70, 80, 90]

In [68]:
l= [[10,20,30],[40,50,60],[70,80,90]]
print("Elements in martix style")
for x in l:
    for y in x:
        print(y,end=" ")
    print()

Elements in martix style
10 20 30
40 50 60
70 80 90

In [5]:

# list comprehension : broad work in single line of code
l = [x*x for x in range(1,11)]
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
# l = [expression for each_element in sequence]
# l = [expression for each_element in sequence if condition]

#  1-100 which is divisible by 100
l = [x for x in range(1,101) if x%10==0]
print(l)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [7]:
# print first letter of each list 
l = ['sunil','prabin','bishal','manish','ishan']
l1 = [ w[0] for w in l]
print(l1)

['s', 'p', 'b', 'm', 'i']

In [13]:
s = "The quick brown fox jumps over the lazy dog"
words = s.split()
print(words)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [16]:
s = "The quick brown fox jumps over the lazy dog"
words = s.split()
l = [ [word.upper(),len(word)]for word in words]
print(l)

[['THE', 3], ['QUICK', 5], ['BROWN', 5], ['FOX', 3], ['JUMPS', 5], ['OVER', 4], ['THE', 3], ['LAZY', 4], ['DOG', 3]]