# Tuples

In [1]:
"""
Tuples is immutable
Tuples can be represented by ()
"""

'\nTuples is immutable\nTuples can be represented by ()\n'

In [2]:
t = (10,'ishan',10,20,50)
print(type(t))
print(t[-1])

<class 'tuple'>
50

In [4]:
t = (10,)     # , is needed to represent single value
print(type(t))
print(t)

<class 'tuple'>
(10,)

In [5]:
t=(10,20,30,)  #() is optional and , doesnot show error
print(t)
print(type(t))

()
<class 'tuple'>

In [6]:
# creation of tuples
# empty tuples

t = (10,20,30,40,)
t1 = 10,20,30,40,50,50
print(t)
print(t1)

(10, 20, 30, 40)
(10, 20, 30, 40, 50, 50)

In [7]:
# by using tuple function

l = [10, 20, 30, 40]
t = tuple(range(1,11))
print(t)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [12]:
t = eval(input("Enter the tuples:"))
print(t)

Enter the tuples:(10,20,30)
(10, 20, 30)

In [13]:
# Accessing elelment of Tuples
t = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(t[0])
print(t[-1])
print(t[100])

1
10

IndexError: tuple index out of range

In [14]:
t = (10,20,30,40,50)
print(t[2:5])

(30, 40, 50)

In [16]:
# Mathematical operators for Tuples
#  + , *
t1 = (10,20,30,40)
t2 = (30,40,50,60)
t3 = t1+t2        # both should be tuple to perform mathematical operator
print(t3)

(10, 20, 30, 40, 30, 40, 50, 60)

In [18]:
t1 = (10,20,30,40)
t2 = t1*2           # * = repetational operator
print(t2)           # one of them should be integer to perform #

(10, 20, 30, 40, 10, 20, 30, 40)

In [1]:
# equality operator  ==  ,   !=
t1 = ('cat','dog','rat')
t2 = ('cat','dog','rat')
t3 = ('CAT','DOG','RAT')
t4 = ('Rat','cat','dog')

# number, order, content(capital/small) should be same

print((t1==t2))
print(t1==t3)
print(t1==t4)

True
False
False

In [2]:
# Relational operators for fuples < >= > <=

t1 = (10,20,30,40)
t2 = (30,15,40)
print(t1<t2)  #True
print(t1<=t2)  #True
print(t1>t2)   #False
print(t1>=t2)  #False

True
True
False
False

In [3]:
# Menbership operators   in    not in
t1 = (10,20,30,40)
print(10 in t1)    #True
print(50 in t1)    #False
print(50 not in t1)#True

True
False
True

In [4]:
# len()
t1 = (10,20,30,40)
print(len(t1))

4

In [8]:
# .count()   # number of times item repeats itself
t1 = (10,20,30,40)
t=t1.count(30)
print(t)

1

In [11]:
# index()
t = (10,10,30,50,40,20,40,30)
print(t.index(50))

3

In [14]:
# Reversing elements in tuple
# l.reverse()       # reverse in same object so not applicable in tupple()

# reversed()  # used in tuple to reverse object element

t1 = (10,20,30,40)
r = reversed(t1)
t1 = tuple(r)
print(t1)

(40, 30, 20, 10)

In [17]:
# sorting in tuple
# l.sort()    # not applicable in tuple
t1 = (60,5,20,30,40)
l = sorted(t1)
print(type(l))
t = tuple(l)
print(t)

<class 'list'>
(5, 20, 30, 40, 60)

In [20]:
# sorting in tuple & decending order
t1 = (60,5,20,30,40)
l = sorted(t1,reverse=True)
print(type(l))
t = tuple(l)
print(t)

<class 'list'>
(60, 40, 30, 20, 5)

In [21]:
t1 = (60,5,20,30,40)
print(max(t1))
print(min(t1))

60
5

In [22]:
# Tuple packing and unpacking

a = 10
b = 20
c = 30
d = 40

t = (a,b,c,d)
print(t)

(10, 20, 30, 40)

In [24]:
# tuple unpacking
t = (10, 20, 30, 40)
a,b,c,d=t
print(t)

(10, 20, 30, 40)

In [25]:
t = (10, 20, 30, 40,50)
a,*b=t
print(type(a))
print(a)
print()
print(type(b))
print(b)

<class 'int'>
10

<class 'list'>
[20, 30, 40, 50]

In [26]:
# Tuple comprehension
l = [x for x in range(1,6)]
print(l)

[1, 2, 3, 4, 5]

In [28]:
l = [x*x for x in range(1,6)]
print(l)
print(type(l))

[1, 4, 9, 16, 25]
<class 'list'>

In [31]:
l = (x*x for x in range(1,6))
print(l)
print(type(l))
print()
print(tuple(l))
print(type(l))

<generator object <genexpr> at 0x000002A55DCAD900>
<class 'generator'>

(1, 4, 9, 16, 25)
<class 'generator'>

# set

In [32]:
"""
if i don't want duplicates
order is not important

# features
duplicates not allowed
order is not important
indexing and slicing not applicable
{}

set theory
    union
    intersecton
    difference
    symmetric_diff
    
"""

"\nif i don't want duplicates\norder is not important\n\n# features\nduplicates not allowed\norder is not important\nindexing and slicing not applicable\n{}\n\nset theory\n    union\n    intersecton\n    difference\n    symmetric_diff\n    \n"

In [33]:
s= {}
print(s)
print(type(s))

{}
<class 'dict'>

In [35]:
s= set()
print(s)

set()

In [36]:
s= {10}
print(type(s))
print(s)

<class 'set'>
{10}

In [39]:
# if we know data already
# l = [10,20,30,40,50

s = set(range(1,10))
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [41]:
# dynamic input of set
s = eval(input("Enter values in set: "))
print(s)

Enter values in set: {60,5,20,30,40}
{20, 5, 40, 60, 30}

In [42]:
# Mathematical operators in set is not alloweded
#  + and * are not applicable in set

In [43]:
# equality operators in set ==   !=
s1 = {10,20,30,90,40}
s2 = {90,10,30,20,40}
print(s1==s2)
print(s1!=s2)

True
False

In [45]:
# Relational operators for set
s1 = {10,20,30,40,50,60}
s2 = {30,10,20}
print(s1<s2)     
print(s1<=s2)
print(s1>s2)
print(s1>=s2)

# relational operator in set is meaningless

False
False
True
True

In [46]:
# membership operators in   not in
s = {10,20,30,40,50,60}
print(10 in s)
print(60 not in s)

True
False

In [47]:
# len()
s1 = {10,20,30,40,50,60}
print(len(s1))

6

In [48]:
# To add itmes in set
s = {10,20}
s.add(50)
print(s)

{10, 20, 50}

In [49]:
# update()
# s.update(l,t,s)

s = {10,20}
l = [30,40]
# s.update(10)     # 10 is individual item so invalid 

print(10)

TypeError: 'int' object is not iterable

In [51]:
s = {10,20}
l = [30,40]

s.update(l)    # single argument a list
print(s)

{40, 10, 20, 30}

In [54]:
s = {30,40}
l = [30,40]
t = (30,40)
s.update(l,t)
print(s)
print("Duplicate value are not allowed in set")

{40, 30}
Duplicate value are not allowed in set

In [57]:
# s.add(10)
# s.add(10,20)
s.update(10)
s.update(range(10,20), range(10,20))
print(s)

TypeError: 'int' object is not iterable

In [58]:
# s.remove()
s = {10,20,30,40}
s.remove(40)
s

{10, 20, 30}

In [60]:
# s.discard()
s = {10,20,30,40}
s.discard(80)
print("Don't throw error even if index is out of rage")
s

{10, 20, 30, 40}

In [64]:
# s.pop()
s = {10,20,30,40}
s.pop()
print("order is not preserved in set so random value will pop")

s

order is not preserved in set so random value will pop

{10, 20, 30}

In [66]:
# s.clear()
s = {10,20,30,40}
s.clear()
print("clear all the items inside set")
s

clear all the items inside set

set()

In [67]:
# set theory
#  union difference complement