In [ ]:
print("hello world")

In [27]:
### identifires
""" 
Give an identity to an individual
Variable, function, class, modules (names of all)


a = 10
def hello()

class Hello:


rules to define an identifiers
A-Z, a-z, _,0-9

- idenfitires should not start with digits
    hello123 = 100
    123hello = 100    # not valid
    
- identifires are case-sensitive
    apple = 10
    APPLE = 20
    Apple = 30
    ApplE = 40
    All variables are different form each other

- my_name_is_rakesh_ = 500
- you cannot use reserved worlds or keywords for defining identifiers

_a = 50      protected  
__a = 50   private
__a__ = 50   duntor

used in oop
__name__
__init__


"""

' \nGive an identity to an individual\nVariable, function, class, modules (names of all)\n\n\na = 10\ndef hello()\n\nclass Hello:\n\n\nrules to define an identifiers\nA-Z, a-z, _,0-9\n\n- idenfitires should not start with digits\n    hello123 = 100\n    123hello = 100    # not valid\n    \n- identifires are case-sensitive\n    apple = 10\n    APPLE = 20\n    Apple = 30\n    ApplE = 40\n    All variables are different form each other\n\n- my_name_is_rakesh_ = 500\n- you cannot use reserved worlds or keywords for defining identifiers\n\n_a = 50      protected  \n__a = 50   private\n__a__ = 50   duntor\n\nused in oop\n__name__\n__init__\n\n\n'

In [2]:
"""
reserved words or keywords
33
True,False,None
and or not is
if elif else
while for break continue rueturn in yield
try except finally raise asseert
import from as class def pass global nonlocal del with

"""

SyntaxError: invalid syntax (Temp/ipykernel_8760/1566016297.py, line 13)

In [3]:
import (keyword.kwlist)

SyntaxError: invalid syntax (Temp/ipykernel_8760/2345589077.py, line 1)

In [4]:
"""
variable

everything in python is object
    if object exist there is class

 
"""

'\nvariable\n\neverything in python is object\n    if object exist there is class\n\n \n'

In [6]:
a = 10.5 
print(type(a))

<class 'float'>
2735774817936

In [7]:
a = 10
print(id(a))

2735662197328

In [ ]:
"""
data types

types of data types (14)

-fundamental data types
int
float
complex
bool
str



bytes
bytearray
range
tuple
set
frozenset
dict
None
"""

In [ ]:
"""
a = 10 
a = 20

How many object is there/ is it same?
    There is one object becoz a = 10 is now reference variable of a = 20 
    so a = 20 doesnot has any reference to any variable hence has no existance
    in program.
    a = 20 is now new and only one object.


a = 10 
b = 20

How many object is there ?
    There are two reference a and b but only one object.
    a and b refers to same value so there is only one object but there are two references
    
"""

In [9]:
"""
data types

int

a = 10
print(type(a))



int can be expressin following forms

decimal form (base-10)
binary form (base-2)
octal form (base-8)
hex(base-16)


binary 
allowed digits 0-1
"""
print(type(11011))

a = 0B101010
print(a)

<class 'int'>
42

'\n\n'

In [10]:
# octal
 
#  allowed character 0 - 7
 
a = 0o110110101101010
print(a)

4957483074056

In [12]:
# hex(base-16)
#  allowed character => 0-9 and a-f
#  0x 0X

print(0xFACE)

64206

In [13]:
# BASE conversion functions

print(bin(15))

0b1111

In [14]:
print(bin(0o11))

0b1001

In [26]:
# binary into decimal
print(0x101)

257
257

In [16]:
# decimal into octal
print(oct(15))

0o17

In [23]:
# binary into octal
print(oct(0b11011))

0o33

In [19]:
# Hex into octal
print(oct(0xFACE))

0o175316

In [20]:
# binary into hex 
print(hex(15))

0xf

In [21]:
# hex into octal
print(hex(0o1120))

0x250

In [22]:
# hex into binary
print(hex(0b11110))

0x1e