 ## bytes
 
 ##### media file handle ie image,videos,music
 ##### internally used bytes nad byte array

In [3]:
l = [1,2,3,4,5,6]
b = bytes(l)
print(type(b))
b

<class 'bytes'>

b'\x01\x02\x03\x04\x05\x06'

In [5]:
for sagar in b:     # sagar is just a variable holding value while looping
    print(sagar)

1
2
3
4
5
6

##### can represent values from 0 to 255

In [12]:
l = [1,2,3,4,5,6,255]
b = bytes(l)
print(b[0])

print(type(b))

print(b[0:5])
print("This is byte object")


b[0] = 44
# byte is immutable (ie can't change value)

1
<class 'bytes'>
b'\x01\x02\x03\x04\x05'
This is byte object

TypeError: 'bytes' object does not support item assignment

In [18]:
# slicing in byte
l = [1,2,3,4,5,6,255]
b = bytes(l)
c = b[0:5]
d = b[::]

for x in c:
    print(x)
print("\n")
print("new slicing")
for y in d:
    print(y)

1
2
3
4
5


new slicing
1
2
3
4
5
6
255

### bytearray

#####  exactely as bytes but mutable in nature

In [22]:
l = [10,20,30,40,50]
b = bytearray(l)
print(type(b))
b[0]= 100         # supports upto 255
print(b)

for x in b:
    print(x)

<class 'bytearray'>
bytearray(b'd\x14\x1e(2')
100
20
30
40
50

In [23]:
print(b[0])

100

In [25]:
print(b[-1])

50

## None data type

###### None is object : which reference to value with nothing or empty

######  for further use of variable only for existance

In [30]:
def f1():
    return 10

x = f1()
print(x)

10

In [32]:
def f1():
     pass

x = f1()
print(x)
# creation of object but return nothing then it will return none

None

In [33]:
# existance of None

In [37]:
# existance of None
a = None
print(id(a))
# existance of object in this id
print(a)

140705992940760
None

## escape characters

In [39]:
"""
\n == new line
\'
"""
print("sagar's bag")
print('sagar\'s bag')

sagar's bag
sagar's bag

## Comments

In [40]:
# single line comment

'''
This is multiline comment
this is 2nd line 
this is 3rd line 
'''

'\nThis is multiline comment\nthis is 2nd line \nthis is 3rd line \n'

# OPERATORS
## arthematic operators
## relational operators/ comparision
## equality operators
## logical operators
## bitwise operators
## shift operators
## assignment operators
## ternary operators
## special operators
###### identity 
###### membership
## operators precedence
## module
## math module

# arthematic Operator

In [47]:
"""
+
-
*
/        #rerutn value in float data type
%
//        # return value in int data type
**
"""

a = 100
b = 2
print(a+b)
print(a-b)
print(a*b)
print("This is float value ")
print(a/b)  # return float value
print(a//b) # return int value
print(a%b)



print(a**b)

102
98
200
This is float value
50.0
0
10000

In [50]:

print(10.0//2)

5.0

In [51]:
print(10/3)

3.3333333333333335

In [52]:
print(10//3)

3

In [53]:
print(10.0//3)

3.0

In [56]:
# power operator **
print(3** 3)

27

In [57]:
# + = both should be string to concatinate
# * = one string and one int should be there to multiply

In [61]:
print('Rakesh' * int('3'))

RakeshRakeshRakesh

In [62]:
print("rakesh" * True)

rakesh

In [64]:
print("rakesh" * False)
# do not multiply or do not show value

In [65]:
print(10/0)
print(10.0/0)
print(10//0)
print(10.0//0)
print(10%0)

ZeroDivisionError: division by zero

# Relational operators/ Comparision operator

#### >,>=, <, <=

In [67]:
a = 10
b = 20

print(a<b)
print(a>b)
print(a<=b)
print(a>=b)

True
False
True
False

In [68]:
# also applicable for string
c = "dhiraj"
d = "ishan"

print(c<d)

#  ASCII code conversion

True

In [69]:
# ASCII code
print(ord("R"))

82

In [71]:
print(chr(65))

A