# flow control

In [1]:
"""
selection statement

    if 
    if else
    if elif else
    if elif

Iterative statement

    for
    while

Transfer statement
    break
    continue
    

bonus keyword
    pass
    del
"""

'\nselection statement\n\n    if \n    if else\n    if elif else\n    if elif\n\nIterative statement\n\n    for\n    while\n\nTransfer statement\n    break\n    continue\n    \n\nbonus keyword\n    pass\n    del\n'

# Indentation error

In [3]:
name = input("Enter name")
if name == "rakesh":
    print("hello rakesh")
print("good morning")

Enter namerakesh
hello rakesh
good morning

In [4]:
# for loop
# sequence:  list set tuple dict range string
"""
for each_item in sequence:
    statement        # consider the value each time executed loop
    
"""

'\nfor each_item in sequence:\n    statement        # consider the value each time executed loop\n    \n'

In [8]:
s = "rakesh tolangi"
print(len(s))
for x in s:
    print(x, end="-")

14
r-a-k-e-s-h- -t-o-l-a-n-g-i-

In [12]:
s = input("Enter your name")
i = 0
for x in s:
    print(f"The character present is {i}index is:{x}")
    i+=1

Enter your nameram
The character present is 0index is:r
The character present is 1index is:a
The character present is 2index is:m

In [14]:
for x in range(10):
    print("Hello world")

Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world

In [16]:
for x in range(1, 12):
    print(x)

1
2
3
4
5
6
7
8
9
10
11

In [17]:
for x in range(1,20,2):
    print(x)

1
3
5
7
9
11
13
15
17
19

In [21]:
for x in range(21):
    if x % 2!= 0:
        print(x)

1
3
5
7
9
11
13
15
17
19

In [2]:
for x in range(20,0,-1):
    print(x)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [9]:
list = eval(input("Enter list number: "))
sum = 0    # if list is empty
for a in list:
    sum = sum + a
 
print("The sum is : ", sum)

Enter list number: [10,20,30]
The sum is :  60

In [11]:
list2 = eval(input("Enter list number: "))
print("The sum is: ", sum(list2))

Enter list number: [10,20,30]

TypeError: 'int' object is not callable

# multiplication table

In [14]:
n = int(input("Enter the number: "))
for x in range(1,11):
    print(f"{n}*{x}={n*x}")

Enter the number: 4
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40