# Ternary operator (conditional operator

In [5]:
a = 10
b = 20
c = 30 if a > b else 40
print(c)

# (~4) unary operator
# (a>b) binary operator
# c = first_value if condition else second_value

a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

c = a if a < b else b
print(c)

40
Enter first number: 6
Enter second number: 5
5

## Nesting of ternary operator

In [7]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

min = a if a < b and a < c else b if b <c else c
min

Enter first number: 10
Enter second number: 20
Enter third number: 30

10

In [11]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

min = a if a<b<c else b if b<c else c
min

Enter first number: 5
Enter second number: 35
Enter third number: 30

30

## identity operator

###### is  is not

In [13]:
a = 10 
b = 10
print(a is b)

True

In [14]:
a = 10 
b = 10
print(a is not b)

False

In [16]:
c = [10,20,30]
d = [10,20,30]
print(c is d)

False

In [17]:
c = [10,20,30]
d = [10,20,30]
print(c is not d)

True

## membership operator

###### is, is not

###### syntax 
######  a in sequence

In [18]:
s = "Rakesh is computer engineer"
print('e' in s)

True

In [20]:
s = "Rakesh is computer engineer"
print('rakesh' in s)

False

In [21]:
s = "Rakesh is computer engineer"
print('rakesh' not in s)

True

In [22]:
print(3 + 10*2)    #precedance

23

In [23]:
"""
operator precedance

()
**
~
*
/
%
//
+
-
<<
>>
&
^
|
>
>=
<=
==
!=
=
+=
-=
is is not
in in not
not
and


"""

'\noperator precedance\n\n()\n**\n~\n*\n/\n%\n//\n+\n-\n<<\n>>\n&\n^\n|\n>\n>=\n<=\n==\n!=\n=\n+=\n-=\nis is not\nin in not\nnot\nand\n\n\n'

In [28]:
a = 3/2*4+3+(10/5)**3-2
print(a)

15.0

## module

file that are saved in .py extensions are called module

In [42]:
import test       # test is .py file extextion function exists
test.add(10,20)
test.multiply(10,20)

Sum is  30
Multiply is  200

In [43]:
from test import add  # add is function in test.py module
add(10,20)
"""

alliancing

from test import add as a    # add is function inside test.py module and add is denoted by a bellow
a(10,20)

"""

Sum is  30

'\n\nalliancing\n\nfrom test import add as a    # add is function inside test.py module and add is denoted by a bellow\na(10,20)\n\n'

In [32]:
"""
from test import *     # * import all the function inside test.py file
add(10,20)
multiply(10,20)

"""

'\nfrom test import *     # * import all the function inside test.py file\nadd(10,20)\nmultiply(10,20)\n\n'

In [34]:
# math
import math
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [35]:
import math
print(math.sqrt(16))

4.0

In [37]:
import math
print(math.e)

2.718281828459045

In [38]:
import math
print(math.pi)

3.141592653589793

In [39]:
from math import *
print(pi)

3.141592653589793

In [45]:
from test import add as a
a(10,20)

Sum is  30

In [46]:
from test import *
add(10,20)
multiply(10,20)

Sum is  30
Multiply is  200