In [2]:
a = [1,2,3,4,5]
print(id(a))

a[0] = 666
print(id(a))
print(a)
# list is mutable

2333764211264
2333764211264
[666, 2, 3, 4, 5]

# revison

In [3]:
""" 
int
str
complex
bool
float
"""

' \nint\nstr\ncomplex\nbool\nfloat\n'

In [4]:
"""
a = 10
b = 12.4
c = 10+5j
d = True
e = 'Rakesh'

a, b, c = 10,20,30

all above fundamental datatype carry single value but we 
need to carry double data type
so we need collection related data type
"""

"\na = 10\nb = 12.4\nc = 10+5j\nd = True\ne = 'Rakesh'\n\na, b, c = 10,20,30\n\n"

# Collection related data types
list

tuple

set

dict

frozenset

dict

range

bytes

bytearray

### List
if you want to represent a group of values as a single entity where duplicate are allowed and ordered is preserved.

In [7]:
a = [1,2,3,4,5,6]
print(a)
print("Ordered is preserved")
a[3]= 60
print(a)
print(type(a))

[1, 2, 3, 4, 5, 6]
Ordered is preserved
[1, 2, 3, 60, 5, 6]
<class 'list'>

### features

ordered is preserved
duplicates are allowed
[]
heterogemous bojects are allowed -> diff type of object su